@charset "utf-8";

@import url("temp.css");

/* .btn-remove {
    color: blue;
    margin-left: '15px';
} */

@media (min-width: 800px) {

    .btn-remove {
        color: red;
        margin-left: '15px';
    }
}

@keyframes slidein {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(100%);
    }
}

@page {
    size: 8.5in 9in;
    margin-top: 4in;
}